<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="g7HiCSbrtyAOep07fTxqL7DJl-U5i80d8F1ax-k2KNo" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev Wales</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:700|Open+Sans|Open+Sans:700|Open+Sans:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("{{ segmentId test }}");
      analytics.page();
      }}();
    </script>
  </head>
  <body>
    <header class="bg-red-700 py-3">
      <div class="container px-4 mx-auto flex items-center justify-between flex-wrap">
        <div class="flex-no-shrink mr-10">
          <a href="/">
            <img src="/static/logo-alt.png" width="124" height="56" alt="website logo" />
          </a>
        </div>
        <div class="block md:hidden">
          <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-red-100 border-red-200 hover:text-white hover:border-white">
            <p class="mr-3">Menu</p>
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
              </svg>
            </button>
          </div>
          <nav id="nav-items" class="w-full flex-grow hidden md:block md:flex md:items-center md:w-auto">
            <div class="text-sm md:flex-grow">
              <a href="/meetups" class="flex md:inline-flex items-center mt-4 no-underline md:mt-0 hover:text-white mr-6 {{#if active.meetups}}text-white{{else}}text-red-200{{/if}}">
                <span class="text-lg mr-2">🍺</span> Meetups
              </a>
              <a href="/speakers" class="flex md:inline-flex items-center mt-4 no-underline md:mt-0 hover:text-white mr-6 {{#if active.speakers}}text-white{{else}}text-red-200{{/if}}">
                <span class="text-lg mr-2">🎤</span> Speakers
              </a>
              <a href="/companies" class="flex md:inline-flex items-center mt-4 no-underline md:mt-0 hover:text-white mr-6 {{#if active.companies}}text-white{{else}}text-red-200{{/if}}">
                <span class="text-lg mr-2">📖</span> Companies
              </a>
              <a href="/jobs" class="flex md:inline-flex items-center mt-4 no-underline md:mt-0 hover:text-white mr-6 {{#if active.jobs}}text-white{{else}}text-red-200{{/if}}">
                <span class="text-lg mr-2">👩‍💻</span> Job board
              </a>
              <a href="/about" class="flex md:inline-flex items-center mt-4 no-underline md:mt-0 hover:text-white {{#if active.about}}text-white{{else}}text-red-200{{/if}}">
                <span class="text-lg mr-2">🚀</span> About
              </a>
            </div>
          </nav>
        </div>
      </header>
      <main class="bg-gray-100 relative">
        {{{ body }}}
      </main>
      <footer class="py-12 bg-gray-900 text-white">
        <div class="container px-4 mx-auto">
          <div class="w-full flex flex-col sm:flex-row justify-between items-start sm:px-0">
            <div class="text-sm md:flex-grow">
              <a href="/meetups" class="block mt-4 no-underline lg:inline-block lg:mt-0 hover:text-white mr-4 {{#if active.meetups}}text-white{{else}}text-gray-500{{/if}}">Meetups</a>
              <a href="/speakers" class="block mt-4 no-underline lg:inline-block lg:mt-0 hover:text-white mr-4 {{#if active.speakers}}text-white{{else}}text-gray-500{{/if}}">Speakers</a>
              <a href="/companies" class="block mt-4 no-underline lg:inline-block lg:mt-0 hover:text-white mr-4 {{#if active.companies}}text-white{{else}}text-gray-500{{/if}}">Companies</a>
              <a href="/jobs" class="block mt-4 no-underline lg:inline-block lg:mt-0 hover:text-white mr-4 {{#if active.jobs}}text-white{{else}}text-gray-500{{/if}}">Job board</a>
              <a href="/about" class="block mt-4 no-underline lg:inline-block lg:mt-0 hover:text-white {{#if active.about}}text-white{{else}}text-gray-500{{/if}}">About</a>
            </div>
            <div>
              <div class="text-sm flex flex-col md:flex-row sm:items-end">
                <a class="flex items-center text-gray-500 hover:text-white no-underline mt-8 sm:mt-0" href="https://twitter.com/myguysi" target="_blank">
                  <span class="mr-2">Built by Simon Anthony</span>
                  <img class="opacity-50" src="/static/twitter.svg" alt="Twitter logo" width="25" height="20" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script>
    const navToggle = document.getElementById("nav-toggle");
    const navItems = document.getElementById("nav-items")
    navToggle.onclick = function () {
      navItems.classList.toggle("hidden");
    }
  </script>
    </body>
  </html>
