<div class="bg-grey-lighter py-16">
  <div class="container mx-auto px-4">
    <div class="w-full md:w-2/3 xl:w-1/2 flex">
      <div class="w-24 h-24 mr-8 bg-contain bg-no-repeat bg-center rounded flex-no-shrink" style="background-image: url({{company.logoUrl}})"></div>
      <div>
        <h1>{{company.name}}</h1>
        <p class="mt-4 text-lg text-grey-dark leading-normal">{{company.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="py-16">
  <div class="container mx-auto px-4 flex flex-wrap">
    <div class="w-full md:w-1/2 lg:w-2/3 flex flex-row flex-wrap">
      <div class="w-full lg:w-1/2">
        <h4 class="mb-2">Location</h4>
        <span>{{arrayToListString company.locations}}</span>

        <h4 class="mb-2 mt-12">Website</h4>
        {{#if company.websiteUrl}}
        <a href="{{company.websiteUrl}}" class="text-red" target="_blank">{{company.websiteUrl}}</a>
        {{else}}
        <span class="text-grey-dark">No website</span>
        {{/if}}

        <h4 class="mt-12 mb-2">Careers</h4>
        {{#if company.careersUrl}}
        <a href="{{company.careersUrl}}" class="text-red" target="_blank">{{company.careersUrl}}</a>
        {{else}}
        <span class="text-grey-dark">No careers site</span>
        {{/if}}
      </div>

      <div class="w-full lg:w-1/2">
        <h4 class="mt-12 mb-2 lg:mt-0">Contact email</h4>
        {{#if company.emailAddress}}
        <a href="{{company.emailAddress}}" class="text-red" target="_blank">{{company.emailAddress}}</a>
        {{else}}
        <span class="text-grey-dark">No contact email</span>
        {{/if}}

        <h4 class="mt-12 mb-2">Twitter</h4>
        {{#if company.twitterUrl}}
        <a href="{{company.twitterUrl}}" class="text-red" target="_blank">{{company.twitterUrl}}</a>
        {{else}}
        <span class="text-grey-dark">No twitter profile</span>
        {{/if}}
      </div>
    </div>

    <div class="w-full md:w-1/3">
      <h4 class="mb-2 mt-12 md:mt-0">Current job openings</h4>
      <ul class="list-reset">
        {{#each matchedJobs}}
        <li class="mb-4">
          <a href="{{this.link}}" class="text-red" target="_blank">{{this.title}}</a>
        </li>
        {{else}}
        <p class="text-grey-dark leading-normal mb-4">We don't know of any job openings at the moment but that doesn't mean they're not recruiting...</p>
        <p class="text-grey-dark leading-normal">Why not try contacting them to find out!</p>
        {{/each}}
      </ul>
    </div>
  </div>

  <script>
    const company = {{{ json company }}}
    const matchedJobs = {{{ json matchedJobs }}}

    console.log(company);
  </script>