<div class="bg-grey-lighter py-16">
  <div class="container mx-auto flex justify-between px-4">
    <div class="w-full md:w-3/4 lg:w-1/2">
      <h1 class="text-black">The company index for developers in Wales</h1>
      <p class="mt-4 text-lg text-grey-dark leading-normal">Tired of recruiters being the middle-man? Take back control
        of your career and find companies that are right for you.</p>

      <p class="mt-8 text-grey-darker leading-normal">So far we've added <span class="font-bold">{{companies.length}}</span>
        companies from <span class="font-bold">{{locations.length}}</span>
        locations! 🎉</p>

      {{!-- <label class="block tracking-wide text-grey-darker text-sm font-bold mt-8 mb-2" for="suggest-company">
        Are we missing a company?
      </label>
      <div class="flex flex-col sm:flex-row mb-4">
        <input id="suggest-company" type="text" name="search" placeholder="Company name..." class="flex-1 appearance-none block w-full bg-grey-lightest text-grey-darker border border-grey-light rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-red"
          onkeyup="updateSearch(this)" autocomplete="off" />
        <button class="flex-no-shrink border border-red hover:bg-red text-red hover:text-white sm:ml-2 mt-2 sm:mt-0 py-2 px-4 rounded">
          Add company
        </button>
      </div> --}}
    </div>
  </div>
</div>

<div class="py-8">
  <div class="container mx-auto px-4 flex flex-col lg:flex-row">
    <div class="w-full lg:w-1/4 mr-6">
      <label class="block tracking-wide text-grey-darker text-sm font-bold mb-2" for="search">
        Search
      </label>
      <input id="search" type="text" name="search" placeholder="Company name..." class="mb-6 appearance-none block w-full bg-white text-grey-darker border border-grey-light rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-red"
        onkeyup="renderCompanies()" autocomplete="off" />

      <div class="hidden lg:block">
        <label class="block tracking-wide text-grey-darker text-sm font-bold mb-2" for="location">
          Location
        </label>
        <div class="mb-6 relative">
          <select class="block appearance-none w-full bg-white border border-grey-light text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-red"
            id="location" onchange="renderCompanies()" autocomplete="off">
            <option value="">All</option>
            {{#each locations}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
          <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
          </div>
        </div>

        <label class="block tracking-wide text-grey-darker text-sm font-bold mb-2" for="company-type">
          Company type
        </label>
        <div class="mb-6 relative">
          <select id="company-type" class="block appearance-none w-full bg-white border border-grey-light text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-red"
            onchange="renderCompanies()" autocomplete="off">
            <option value="">All</option>
            <option value="Product or Service">Product or Service</option>
            <option value="Agency or Consultancy">Agency or Consultancy</option>
          </select>
          <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-3/4">
      <div class="block tracking-wide text-grey-darker text-sm font-bold mb-2">Showing <span id="result-count">{{companies.length}}</span>
        companies</div>
      <div id="company-list">
        {{#each companies}}
        <a href="/companies/{{this.id}}" class="no-underline">
          <div class="flex flex-row bg-white p-4 sm:p-6 mb-2 rounded shadow">
            <div class="w-8 sm:w-12 h-8 sm:h-12 mr-6 flex-no-shrink rounded bg-center bg-no-repeat bg-contain" style="background-image: url({{this.logoUrl}})"></div>
            <div class="w-full flex flex-col">
              <span class="text-black font-bold mb-2">{{this.name}}</span>
              <span class="text-grey-darker leading-normal">{{this.description}}</span>
              {{#if this.jobIds}}
              <span class="mt-2 text-red leading-normal">{{this.jobIds.length}} job opening(s)</span>
              {{/if}}
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script>
  const companies = {{{ json companies }}}

  function applySearchFilter(companies) {
    const value = document.getElementById("search").value;
    const filteredCompanies = companies.filter(function (company) {
      const companyName = company.name.toLowerCase();
      const query = value.toLowerCase();
      return companyName.indexOf(query) >= 0;
    });
    return filteredCompanies;
  }

  function applyFilters(companies) {
    let filteredCompanies = applySearchFilter(companies);
    const filters = {
      location: document.getElementById("location").value,
      companyType: document.getElementById("company-type").value
    }
    filteredCompanies = Object.keys(filters).reduce(function (companies, filter) {
      const value = filters[filter];
      if (value === "") return companies;
      companies = companies.filter(function (company) {
        return company[filter] === value;
      });
      return companies;
    }, filteredCompanies);
    return filteredCompanies;
  }

  function renderCompanies() {
    const companyList = document.getElementById("company-list");
    companyList.innerHTML = "";
    if (companies.length === 0) {
      companyList.innerHTML = "No companies found"
      return;
    }
    filteredCompanies = applyFilters(companies);
    const resultCount = document.getElementById("result-count");
    resultCount.innerHTML = filteredCompanies.length;
    filteredCompanies.forEach(function (company) {
      const logo = document.createElement("div");
      logo.classList = "w-8 sm:w-12 h-8 sm:h-12 mr-6 flex-no-shrink rounded bg-center bg-no-repeat bg-contain";
      logo.style = "background-image: url(" + company.logoUrl + ")";

      const name = document.createElement("span");
      name.innerHTML = company.name;
      name.classList = "text-black font-bold mb-2";

      const description = document.createElement("span");
      description.innerHTML = company.description;
      description.classList = "text-grey-darker leading-normal";

      const linksContainer = document.createElement("div");
      linksContainer.classList = "flex mt-2";
      if (company.websiteUrl) {
        const website = document.createElement("a");
        website.innerHTML = "Website";
        website.classList = "mr-4 text-red";
        website.href = company.websiteUrl;
        website.target = "_blank";
        linksContainer.appendChild(website);
      }
      if (company.careersUrl) {
        const careers = document.createElement("a");
        careers.innerHTML = "Careers";
        careers.classList = "mr-4 text-red";
        careers.href = company.careersUrl;
        careers.target = "_blank";
        linksContainer.appendChild(careers);
      }
      if (company.emailAddress) {
        const contact = document.createElement("a");
        contact.innerHTML = "Contact";
        contact.classList = "mr-4 text-red";
        contact.href = company.emailAddress;
        contact.target = "_blank";
        linksContainer.appendChild(contact);
      }

      const textContainer = document.createElement("div");
      textContainer.classList = "w-full flex flex-col";
      textContainer.appendChild(name);
      textContainer.appendChild(description);
      textContainer.appendChild(linksContainer);

      const card = document.createElement("div");
      card.classList = "flex flex-row bg-white p-4 sm:p-6 mb-2 rounded shadow";
      card.appendChild(logo);
      card.appendChild(textContainer);

      companyList.appendChild(card);
    });
  }
</script>