{{#> pageHero }}
<h1 class="text-white text-4xl">The best shows in town 🤩</h1>
<p class="mt-4 text-lg text-red-200 leading-normal">
  Communities grow when like-minded people come together and share their passions.
</p>
<p class="mt-4 text-lg text-red-200 leading-normal">
  Find a group that resonates with you and get involved.
</p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSewz_bJdPB-Nzt9O9Lia5v--_KLhILBldGjMLe378hZXibI7A/viewform?usp=sf_link" target="_blank" class="inline-flex items-center mt-6 py-4 px-6 md:p-6 bg-yellow-400 hover:bg-yellow-500 text-black font-bold md:leading-none underline-none rounded">
  <img src="/static/icons/plus.svg" class="mr-4 h-6" width="24" height="24" />
  Add a group
</a>
{{/pageHero}}

{{#> gridLayout}}
{{#each groups}}
<div class="md:w-1/3 md:mt-12 md:px-4 lg:mt-16">
  <div class="bg-white mb-2 p-4 shadow rounded flex items-center md:inline-flex md:flex-col md:w-full md:h-full md:p-6">
    {{#if this.logoUrl}}
    <div class="w-16 h-16 flex-shrink-0 rounded bg-center bg-no-repeat bg-contain md:-mt-12 md:shadow md:mb-6 md:bg-white lg:w-24 lg:h-24" style="background-image: url({{this.logoUrl}})"></div>
    {{else}}
    <div class="w-16 h-16 flex-shrink-0 rounded bg-center bg-no-repeat bg-contain md:-mt-12 md:shadow md:mb-6 md:bg-white lg:w-24 lg:h-24" style="background-image: url(/static/logo-mark-black.svg)"></div>
    {{/if}}
    <div class="ml-4 flex flex-col sm:flex-row sm:items-center flex-1 md:flex-col md:items-center md:ml-0">
      <span class="text-gray-800 font-bold md:text-center sm:flex-1 md:text-lg lg:text-xl">{{this.name}}</span>
      <div class="flex items-center mt-2 md:mt-6 sm:flex-row-reverse md:flex-row">
        {{#if this.meetupUrl}}
        <a href="{{this.meetupUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
          <img src="/static/meetup.svg" class="h-6" alt="Meetup" />
        </a>
        {{/if}}
        {{#if this.twitterUrl}}
        <a href="{{this.twitterUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
          <img src="/static/twitter-solid.svg" class="h-6" alt="Twitter" />
        </a>
        {{/if}}
        {{#if this.eventbriteUrl}}
        <a href="{{this.eventbriteUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
          <img src="/static/eventbrite.svg" class="h-6" alt="Eventbrite" />
        </a>
        {{/if}}
        {{#if this.youtubeUrl}}
        <a href="{{this.youtubeUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
          <img src="/static/youtube.svg" class="h-6" alt="YouTube" />
        </a>
        {{/if}}
        {{#if this.slackUrl}}
        <a href="{{this.slackUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
          <img src="/static/slack.svg" class="h-6" alt="Slack" />
        </a>
        {{/if}}
        {{#if this.discordUrl}}
        <a href="{{this.discordUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
          <img src="/static/discord.svg" class="h-6" alt="Discord" />
        </a>
        {{/if}}
        {{#if this.websiteUrl}}
        <a href="{{this.websiteUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
          <span class="text-gray-700 font-bold">Website</span>
        </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{else}}
<div class="my-4 text-lg leading-normal text-gray-dark">No groups have been added yet 😩</div>
{{/each}}
{{/gridLayout}}
