{{#> pageHero }}
<h1 class="text-white text-4xl">Resources for the software development community</h1>
<p class="mt-4 text-lg text-red-200 leading-normal">
  Whether you're a developer hunting for jobs, a company searching for a development agency or a contractor advertising your services, we've got the biggest list of companies building software in Wales.
</p>
{{/pageHero}}

<section class="bg-red-700 pb-8">
  <div class="container px-4 mx-auto">
    <div class="l-grid">
      <section class="bg-white rounded p-6">
        <h2 class="text-2xl">I want to get involved in the community</h2>
        <p class="mt-2">Why not join some local <a href="/meetups">meetups</a> and attend their <a href="/events">events</a>.</p>
        <p class="mt-2">If you’re interested in giving a talk then join the <a href="/speakers">speakers</a> list.</p>
      </section>

      <section class="bg-white rounded p-6">
        <h2 class="text-2xl">I’m a developer looking for work</h2>
        <p class="mt-2">Check out <a href="/jobs">jobs</a> or check out <a href="/companies">companies</a> directly.</p>
        <p class="mt-2">If you’re a contractor, join the <a href="/companies">companies</a> list.</p>
      </section>

      <section class="bg-white rounded p-6">
        <h2 class="text-2xl">We’re a company recruiting developers</h2>
        <p class="mt-2">First make sure you’re on our list on <a href="/companies">companies</a> then add a listing to <a href="/jobs">jobs</a>. The <a href="/companies">companies</a> also list includes contractors that you can reach out to.</p>
      </section>

      <section class="bg-white rounded p-6">
        <h2 class="text-2xl">I’m an event organiser</h2>
        <p class="mt-2">If you’re organising a <a href="/meetups">meetup</a> make sure you’re on the list. Reach out to <a href="/speakers">speakers</a> and find suitable <a href="/venues">venues</a>.</p>
      </section>

      <section class="bg-white rounded p-6">
        <h2 class="text-2xl">I'm a student looking for opportunities</h2>
        <p class="mt-2">There are lots of <a href="/companies">companies</a> that offer placements and graduate roles which you can find in <a href="/jobs">jobs</a>.</p>
        <p class="mt-2">If you’re looking to study then check out these <a href="/courses">courses</a>.</p>
      </section>
    </div>
  </div>
</section>

<section class="py-8 lg:py-12">
  <div class="container px-4 mx-auto">
    <section class="mb-8 lg:mb-16">
      <h2 class="text-2xl">Featured meetups</h2>
      <div class="md:mt-4">
        <a href="/meetups" class="text-red-600 leading-normal hover:underline">View all meetups</a>
      </div>
      <ul class="list-none mt-4 md:mt-10 flex flex-col md:flex-row">
        {{#each meetups}}
        <li class="flex-1 mb-4 md:mb-0 md:pr-4">
          <div class="bg-white border border-gray-400 rounded p-4 flex items-center md:inline-flex md:flex-col md:w-full md:h-full md:p-6">
            {{#if this.logoUrl}}
            <div class="w-16 h-16 flex-shrink-0 rounded bg-center bg-no-repeat bg-contain md:-mt-12 md:shadow md:mb-6 md:bg-white lg:w-24 lg:h-24" style="background-image: url({{this.logoUrl}})"></div>
            {{else}}
            <div class="w-16 h-16 flex-shrink-0 rounded flex items-center justify-center md:-mt-12 md:shadow md:bg-white md:mb-6 lg:w-24 lg:h-24">
              <div class="w-full h-full bg-center bg-no-repeat bg-contain opacity-25" style="background-image: url(/static/logo-mark-black.svg)"></div>
            </div>
            {{/if}}
            <div class="ml-4 flex flex-col sm:flex-row sm:items-center flex-1 md:flex-col md:items-center md:ml-0">
              <span class="text-gray-800 font-bold md:text-center sm:flex-1 md:text-lg lg:text-xl">{{this.name}}</span>
              <div class="flex items-center mt-2 md:mt-6 sm:flex-row-reverse md:flex-row">
                {{#if this.meetupUrl}}
                <a href="{{this.meetupUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
                  <img src="/static/meetup.svg" class="h-6" alt="Meetup" />
                </a>
                {{/if}}
                {{#if this.twitterUrl}}
                <a href="{{this.twitterUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
                  <img src="/static/twitter-solid.svg" class="h-6" alt="Twitter" />
                </a>
                {{/if}}
                {{#if this.eventbriteUrl}}
                <a href="{{this.eventbriteUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
                  <img src="/static/eventbrite.svg" class="h-6" alt="Eventbrite" />
                </a>
                {{/if}}
                {{#if this.youtubeUrl}}
                <a href="{{this.youtubeUrl}}" target="_blank" class="flex items-center bg-gray-200 hover:bg-red-200 h-8 px-2 rounded-full mr-2 sm:mr-0 sm:ml-2 md:ml-0 md:mr-2">
                  <img src="/static/youtube.svg" class="h-6" alt="YouTube" />
                </a>
                {{/if}}
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </section>

    <section class="mb-8 lg:mb-16">
      <h2 class="text-2xl">Featured speakers</h2>
      <div class="lg:mt-4">
        <a href="/speakers" class="text-red-600 leading-normal hover:underline">View all speakers</a>
      </div>
      <ul class="list-none mt-4 flex flex-col lg:flex-row items-stretch">
        {{#each speakers}}
        <li class="flex-1 mb-4 lg:mb-0 lg:pr-4">
          <div class="flex flex-col bg-white p-4 sm:p-6 rounded border border-gray-400 h-full">
            <h2 class="font-bold mb-2">{{this.name}}</h2>
            <p class="flex-1 text-gray-700 leading-normal mb-2">{{this.topics}}</p>
            {{#preferredContact this}}
            <a class="text-red-600 hover:underline" href="{{this.link}}" target="_blank">{{this.label}}</a>
            {{/preferredContact}}
          </div>
        </li>
        {{/each}}
      </ul>
    </section>

    <section class="mb-8 lg:mb-16">
      <h2 class="text-2xl">Featured companies</h2>
      <div class="md:mt-4">
        <a href="/companies" class="text-red-600 leading-normal hover:underline">View all companies</a>
      </div>
      <ul class="list-none mt-4 flex flex-col lg:flex-row items-stretch">
        {{#each companies}}
        <li class="flex-1 mb-4 lg:mb-0 lg:pr-4">
          <div class="flex flex-row bg-white p-4 sm:p-6 rounded border border-gray-400 h-full">
            <div class="w-16 h-16 flex-shrink-0 rounded bg-center bg-no-repeat bg-contain" style="background-image: url({{this.logoUrl}})"></div>
            <div class="ml-4 flex flex-col flex-1">
              <h2 class="font-bold mb-2">{{this.name}}</h2>
              <p class="flex-1 text-gray-700 leading-normal">{{this.description}}</p>
              <a class="mt-2 text-red-600 hover:underline" href="/companies/{{this.slug}}">View profile</a>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </section>
  </div>
</section>
