<div class="bg-grey-lighter py-10 md:py-16">
  <div class="container mx-auto px-4">
    <div class="w-full md:w-3/4 lg:w-1/2">
      <h1 class="text-black">Jobs board</h1>
      <p class="mt-4 text-lg leading-normal text-grey-dark">Here you'll find a list of jobs for developers across Wales</p>
      <a href="/jobs/add" class="inline-block px-4 py-3 leading-none no-underline rounded bg-red hover:bg-red-dark text-white mt-6">
        Post a job
      </a>
    </div>
  </div>
</div>

<div class="py-8">
  <div class="container mx-auto px-4 flex flex-col lg:flex-row">
    <div class="w-full lg:w-2/3">
      <div id="job-list">
        {{#each jobs}}
        <a href="{{this.link}}" class="no-underline" target="_blank">
          <div class="flex flex-row items-start bg-white p-4 sm:p-6 mb-2 rounded shadow">
            <div class="flex-1 flex flex-col">
              <span class="text-black font-bold mb-1">{{this.title}}</span>
              <span class="text-black text-sm leading-normal">at {{this.companyName}}, {{this.location}}</span>
              {{#ifEquals this.type "post"}}
              <span class="mt-2 text-grey-darker text-sm leading-normal">{{{this.description}}}</span>
              {{/ifEquals}}
            </div>
            <span class="text-grey-darker text-sm leading-normal">Added {{this.timeSince}}</span>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script>
  const jobs = {{{ json jobs }}};
  console.log(jobs);
</script>