<header class="text-center mb-8">
  <div class="h-24 bg-red-700"></div>
  <img src="{{user.avatarUrl}}" class="w-24 h-24 mx-auto -mt-16 mb-2 border-4 border-gray-100 bg-gray-100 rounded-lg" width="96" height="96" />
  <h1 class="text-xl">{{user.name}}</h1>
  <p class="text-gray-600">{{user.jobTitle}}{{#if user.jobTitle}}{{#if user.company}} at {{/if}}{{/if}}{{user.company}}</p>
</header>

<div class="flex flex-col px-4">
  {{!-- <button class="inline-flex items-center justify-center mb-6 px-4 py-3 border-red-700 border text-red-700 leading-none rounded">Send a message</button> --}}

  {{#if user.isSpeaker}}
  <section class="mb-8 p-4 bg-white rounded shadow">
    <div class="flex mb-4">
      <img src="/static/icon-speaker.svg" class="w-6 h-6 mr-4" width="24" height="24" />
      <h2>I'm a speaker!</h2>
    </div>
    <p><span class="text-gray-600">If you’re an event organiser, I can give talks about</span> {{user.speakerTopics}}</p>
  </section>
  {{/if}}

  {{#if user.interests}}
  <section class="mb-6">
    <h2 class="mb-2">Areas of interest</h2>
    <ul class="flex flex-wrap">
      {{#each user.interests}}
      <li class="whitespace-no-wrap mb-2 mr-2 p-4 bg-white rounded shadow">{{this}}</li>
      {{/each}}
    </ul>
  </section>
  {{/if}}

  {{#if user.languages}}
  <section class="mb-6">
    <h2 class="mb-2">Languages</h2>
    <ul class="flex flex-wrap">
      {{#each user.languages}}
      <li class="whitespace-no-wrap mb-2 mr-2 p-4 bg-white rounded shadow">{{this}}</li>
      {{/each}}
    </ul>
  </section>
  {{/if}}

  <section class="mb-12">
    <h2 class="mb-2">Links</h2>
    <ul>
      {{#if user.githubUrl}}
      <a href="{{user.githubUrl}}" target="_blank">
        <li class="flex mb-2 p-4 bg-white rounded shadow">
          <img src="/static/icon-github.svg" class="w-6 h-6 mr-4" width="24" height="24" />
          <p class="flex-1">GitHub</p>
          <img src="/static/icon-external-link.svg" class="w-6 h-6 ml-4" width="24" height="24" />
        </li>
      </a>
      {{/if}}
      {{#if user.twitterUrl}}
      <a href="{{user.twitterUrl}}" target="_blank">
        <li class="flex p-4 bg-white rounded shadow">
          <img src="/static/icon-twitter.svg" class="w-6 h-6 mr-4" width="24" height="24" />
          <p class="flex-1">Twitter</p>
          <img src="/static/icon-external-link.svg" class="w-6 h-6 ml-4" width="24" height="24" />
        </li>
      </a>
      {{/if}}
    </ul>
  </section>
</div>